.digitalclock{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}
.clock{
    width: auto;
    font-size: 50px;
    background-color: black;
    color: white;
    text-align: center;
}